.custom-select {
  position: relative;
  width: 300px;
}

.select-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px;
  cursor: pointer;
  color: white;
}

.select-input.disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.selected-option {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 2px 6px;
  background-color: #3d3bab;
  border: 1px solid white;
  border-radius: 3px;
}

.remove-btn {
  margin-left: 4px;
  background: none;
  border: none;
  cursor: pointer;
  background-color: #ff0000;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  padding: 0px 2px;
}

.clear-btn {
  margin-left: auto;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 14px;
  padding: 4px;
  cursor: pointer;
  background-color: #ff0000;
  color: white;
}

.select-menu {
  position: absolute;
  width: 315px;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
}

.search-input {
  width: calc(100% - 16px);
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.option {
  padding: 8px;
  cursor: pointer;
}
.option:hover{
   background: #3d3bab;
   color: white;
   font-weight: bold;
}

.option.selected {
  background-color: #e5e5e5;
}

.group {
  padding: 8px;
  border: 1px solid purple;
}

.group-label {
  font-weight: bold;
  margin-bottom: 4px;
}
